.table_container {
    border: black 1px solid;
    position: relative;
    background: white;
    padding: 20px;
    position: relative;
    margin-top: 15px; 
}
.img_div {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  cursor: pointer;
  
}
.img_div img {
  width: 100%;
  height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-family: 'Balsamiq Sans', cursive;
    animation-name: show_table;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(2) {
    background-color: rgb(119, 255, 119);
    font-weight: bold;
  }

.head_line {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}
.head_line::first-letter {
  text-transform: uppercase;
}

@keyframes show_table {
   0% {
    background: transparent;    
   }
   50% {
     background: rgb(209, 197, 21);
   }
   100% {
     background: white;
   }
}

@media(max-width : 750px) {
  .img_div {
      top: 5px;
      left: 5px;
  }
}

@media(max-width : 500px) {
  .head_line {
      font-size: 20px;
  }
  .img_div {
    width: 30px;
    height: 30px;
  }
}