<div class="table_container">
  <h1 class="head_line">{{quizType}} Rating Table</h1> 
  <div class="img_div" (click)="goBack()">
    <img src="../../assets/images/arrow_back.png" alt="">
  </div> 


  <table>
      <tr>
        <th>Score</th>
        <th>Date</th>
        <th>Name</th>
        <th></th>  
      </tr>
      <tr *ngFor="let record of recordsArray; let i=index">
        <td>{{record.record}}</td>
        <td>{{record.date}}</td>
        <td>{{record.name}}</td>
        <td>{{i+1}}</td>
      </tr>
  </table>

</div>

