<div class="card" (click)="quizChosed()">
    <p class="text">Go to the {{ quizType }} quiz</p>
    <div class="background_div_img">
        <div class="div_img">
            <img src="../../assets/images/{{quizType}}_card.png" alt="">
        </div>
    </div>
  
    <table>
        <tr>
          <th>Score</th>
          <th>Date</th>
          <th>Name</th>
          <th></th>  
        </tr>
        <tr *ngFor="let record of recordsArray; let i=index">
            <td>{{record.record}}</td>
            <td>{{record.date}}</td>
            <td>{{record.name}}</td>
            <td>{{i+1}}</td>
          </tr>
    </table>
    <button class="table_button" (click)="tableButtonClicked()">See the rest</button>
</div>
