.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Balsamiq Sans', cursive;
}

.head_line {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    animation-name: shadow_animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: 0;
    margin-bottom: 10px;
}

.head_line::first-letter {
    font-size: 50px;
  }

@media(max-width : 930px) {
    .cards {
        display: block;
    }
}

  @keyframes shadow_animation {
    0% {
        text-shadow: 1.5px 1.5px navy;
    }
    50% {
        text-shadow: 3px 3px rgb(173, 180, 65);
    }
    100% {
        text-shadow: 1.5px 1.5px navy;
    }
  }
